#canvas {
    background-image: "./../images/FONDO.jpg";
}

body {
background-color:#BAE0CC;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    justify-content: center;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    }

img {
    width: 150px;
    height: 150px;
}

h4 {
    color: #356168;
    justify-content: center;
}    

h5 {
    color: green;
    justify-content: center;
    }

p {
    color: #1F3134;
    justify-content: center;
}